# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtualenv
.venv/
venv/
ENV/

# Django
*.log
*.pot
*.pyc
local_settings.py
media/
staticfiles/

# Migrations cache
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node
node_modules/

# Env
.env
.env.*

# Tests
.coverage
htmlcov/
.pytest_cache/

# Compiled translations
*.mo
